.eerste{
    height:200px;
    width: 200px;
    background-color: crimson;
    position: fixed;
    top: 0;
    right: 0;
}

.tweede{
    height:200px;
    width: 200px;
    background-color: deepskyblue;
    position: fixed;
    top: 0;
    left: 0;
}

.derde{
    height:200px;
    width: 200px;
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
}

.vierde{
    height:200px;
    width: 200px;
    background-color: blue;
    position: fixed;
    bottom: 0;
    right: 0;
}



